/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    scroll-behavior: smooth;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul {
    list-style: none;
    padding: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button {
    line-height: 1.1;
    cursor: pointer;
}

/* Balance text wrapping on headings */
h1,
h2 {
    text-wrap: balance;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture,
video {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
button {
    font-family: inherit;
    font-size: inherit;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
}

div {
    padding: 0;
    margin: 0;
}

:root {
    --clr-dark: 92, 41, 84;
    --clr-light: 254, 251, 254;
    --clr-dark-pink: 157, 0, 117;
    --clr-light-pink: 224, 148, 194;
    --clr-light-brown: 131, 97, 110;

    --ff-work-sans: "Work Sans", sans-serif;

    --fs-700: 2rem;
    --fs-600: 1.625rem;
    --fs-500: 1.125rem;
    --fs-400: .875rem;
    --fs-300: 1rem;
    --fs-200: .75rem;
}

@media (min-width: 35em) {
    :root {
        --fs-700: 2.5rem;
        --fs-600: 2rem;
        --fs-500: 1.375rem;
        --fs-400: 1rem;
        --fs-300: 1rem;
        --fs-200: .825rem;
    }
}

@media (min-width: 49em) {
    :root {
        --fs-700: 3rem;
        --fs-600: 2.875rem;
        --fs-500: 1.615rem;
        --fs-400: 1.125rem;
        --fs-300: 1.125rem;
    }
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.block {
    display: block;
}

.bg-dark { background-color: rgb( var(--clr-dark) );}
.bg-light { background-color: rgb( var(--clr-light) );}
.bg-dark-pink { background-color: rgb( var(--clr-dark-pink) );}
.bg-light-pink { background-color: rgb( var(--clr-light-pink) );}

.text-dark { color: rgb( var(--clr-dark) );}
.text-dark-disabled { color: rgba( var(--clr-dark), .7 );}
.text-light { color: rgb( var(--clr-light) );}
.text-dark-pink { color: rgb( var(--clr-dark-pink) );}
.text-light-pink { color: rgb( var(--clr-light-pink) );}
.text-light-brown { color: rgb( var(--clr-light-brown) );}

.text-pink-outlined {
    color: rgb(var(--clr-light-pink));

    text-shadow:
        -1px -1px 0 rgb(var(--clr-dark-pink)),
        1px -1px 0 rgb(var(--clr-dark-pink)),
        -1px 1px 0 rgb(var(--clr-dark-pink)),
        1px 1px 0 rgb(var(--clr-dark-pink));
}

@media (max-width: 35em) {
    .text-pink-outlined {
        color: rgb(var(--clr-dark-pink));
        text-shadow: none;
        font-weight: 600;
    }
}

.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }

.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-800, .fs-700, .fs-600 { line-height: 1.1; }

.fw-600 { font-weight: 600; }
.fw-500 { font-weight: 500; }

.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }
.text-center { text-align: center; }
.text-left { text-align: start; }
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
    font-family: var(--ff-work-sans);
    font-size: var(--fs-400);
    color: rgb(var(--clr-dark));
    background-color: rgb(var(--clr-light));
}

/* Navigation */
header {
    background-color: rgb(var(--clr-light));
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.navigation, 
.tab-list {
    justify-content: center;
}

.navigation > li {
    font-weight: 600;
    padding-bottom: .375em;
    color: rgb(var(--clr-dark-pink));
    border: none;
    border-bottom: solid 4px rgb(var(--clr-light));
    background-color: rgb(var(--clr-light));
}

.navigation > li:hover{
    color: rgb(var(--clr-light-pink));
    border-bottom: solid 4px rgb(var(--clr-light-pink));
}

.tab-list > button {
    font-weight: 600;
    color: rgb(var(--clr-dark-pink));

    border: solid 4px rgba(var(--clr-dark-pink), .1);
    border-bottom: none;
    background-color: rgba(var(--clr-dark-pink), .1);
    border-radius: 5px;
    padding: .5rem;
    padding-bottom: 1rem;

    position: relative;
    top: 1rem;
    transition: top 0.3s ease;
    z-index: 1;
}

.tab-list > button:not([aria-selected="true"]):hover {
    color: rgb(var(--clr-light-pink));
    border-color: rgb(var(--clr-light-pink));
    border-bottom: none;
    top: .15rem;
}

.tab-list > button[aria-selected="true"] {
    color: rgb(var(--clr-dark-pink));
    border-color: rgb(var(--clr-dark-pink));
    border-bottom: none;
    top: .15rem;
}
/* Navigation end */

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.grid-container[id] {
    min-height: 50vh;
}

.grid-container > * {
    max-width: 70ch;
}

.grid-container[id] > h2 {
    align-self: end;
}

.grid-container[id] > div {
    align-self: start;
}

.grid-container--home > * {
    max-width: 35ch;
}

.grid-container--home {
    padding-top: 20vh;
    padding-bottom: 40vh;
    text-align: center;
}

.grid-container--demo > div:nth-child(2){
    align-self: flex-end;
}
/* Grid Container end */

/* Carousel */
.carousel { 
    display: flex; 
    column-gap: 1rem;
}

/* only used inside carousel */
.mb-2 { margin-bottom: 2rem; } 

.carousel > * {
    place-self: center;
}

.carousel > button {
    font-size: var(--fs-500);
    font-weight: 500;
    border-radius: 5px;
}

.carousel > button,
.indicators>button {
    border: 2px solid rgb(var(--clr-light-pink));
    background-color: rgba(var(--clr-dark-pink), .1);
    color: rgb(var(--clr-dark-pink))
}

.carousel > button:disabled {
    cursor: default;
    color: rgb(var(--clr-light));
    border-color: rgb(var(--clr-light));
    background-color: rgba(var(--clr-light));
}

.carousel > button:hover,
.indicators > button:not([aria-selected="true"]):hover {
    background-color: rgba(var(--clr-dark-pink), .15);
    border-color: rgba(var(--clr-dark-pink), .7);
    background-color: rgba(var(--clr-light-pink), .6);
}

.indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1rem;
    margin-bottom: 1rem;
}

.indicators > button {
    border-radius: 50%;
    padding: .375rem;
}

.indicators > button[aria-selected="true"] {
    border-color: rgba(var(--clr-dark-pink));
    background-color: rgb(var(--clr-dark-pink));
}

.fade-item {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-item.fade {
    opacity: 0;
}
/* Carousel end */

.command-icon-list > li {
    position: relative;
    padding-left: 2rem;
}

.command-icon-list:not(.not-bold) > li{
    font-weight: 600;
}

.command-icon-list > li::before {
    display: inline-block;
    content: "\F2C6";
    font-family: 'bootstrap-icons';
    font-size: var(--fs-400);
    font-weight: 600;
    color: rgb(var(--clr-dark-pink));
    position: absolute;
    left: 0;
}

.command-icon-list > li > ul > li {
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    font-weight: 400;
}

#demo > h2 {
    margin-bottom: 2rem;
}

.demo-content {
    z-index: 3;
    background-color: rgba(var(--clr-light));
}

footer {
    margin-inline: auto;
    width: 75vw;
    text-align: center;
    padding-bottom: 2rem;
}

h2 {
    margin-bottom: 1rem;
}

h3 {
    font-size: var(--fs-500);
    font-weight: 600;
    color: rgb(var(--clr-dark-pink));
}

hr {
    border: solid .5px rgb(var(--clr-dark-pink));
}

#home > a {
    margin-top: 1rem;
}

#home > p {
    font-size: 1.125rem;
}

#home > h2 {
    margin-bottom: 0;
}

main {
    padding-top: 2rem;
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

p:has(+ .command-icon-list) {
    margin-bottom: 0;
}

p + ul {
    margin-top: 0;
    margin-left: 1rem;
}

.tab-list + div {
    border: 3px solid rgb(var(--clr-light-pink));
    border-radius: 15px;
    padding: 1rem;
}

.svg-links > a {
    color: rgb(var(--clr-dark-pink));
    margin-right: 1rem;
}

.svg-links > a:hover{
    color: rgb(var(--clr-light-pink));
}

.unit {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
}

@media (max-width: 28.2rem) {
    .carousel {
        column-gap: .25rem;
    }

    .indicators {
        column-gap: .5rem;
        row-gap: .5rem;
    }

    main {
        margin-inline: .25rem;
    }

    .tab-list {
        margin-inline: 1rem;
    }

    .tab-list > button {
        font-weight: 400;
        border-width: 2px;
    }

    .tab-list + div {
        padding: .25rem;
    }
}