:root {
    --clr-dark: 92, 41, 84;
    --clr-light: 254, 251, 254;
    --clr-dark-pink: 157, 0, 117;
    --clr-light-pink: 224, 148, 194;
    --clr-light-brown: 131, 97, 110;

    --ff-work-sans: "Work Sans", sans-serif;

    --fs-700: 2rem;
    --fs-600: 1.625rem;
    --fs-500: 1.125rem;
    --fs-400: .875rem;
    --fs-300: 1rem;
    --fs-200: .75rem;
}

@media (min-width: 35em) {
    :root {
        --fs-700: 2.5rem;
        --fs-600: 2rem;
        --fs-500: 1.375rem;
        --fs-400: 1rem;
        --fs-300: 1rem;
        --fs-200: .825rem;
    }
}

@media (min-width: 49em) {
    :root {
        --fs-700: 3rem;
        --fs-600: 2.875rem;
        --fs-500: 1.615rem;
        --fs-400: 1.125rem;
        --fs-300: 1.125rem;
    }
}
