/* @import 'bootstrap-icons/font/bootstrap-icons.css'; */

body {
    font-family: var(--ff-work-sans);
    font-size: var(--fs-400);
    color: rgb(var(--clr-dark));
    background-color: rgb(var(--clr-light));
}

header {
    background-color: rgb(var(--clr-light));
}

/* Navigation */
.navigation {
    justify-content: center;
}

.navigation>li {
    font-weight: 600;
    padding-bottom: .375em;
    color: rgb(var(--clr-dark-pink));
    border-bottom: solid 4px rgb(var(--clr-light));
}

.navigation>li:hover {
    color: rgb(var(--clr-light-pink));
    border-bottom: solid 4px rgb(var(--clr-light-pink));
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
/* Navigation end */
